/*-----------------------------------------------------------------------------------*/
/* Pulse */
/*-----------------------------------------------------------------------------------*/
@-webkit-keyframes pulse {
	from { }
	50% { background-color:#6ead2b; }
	to { }
}

/*-----------------------------------------------------------------------------------*/
/* Glow */
/*-----------------------------------------------------------------------------------*/
@-webkit-keyframes glow {
	from { 
		-webkit-box-shadow:none;
	}
	
	50% { 
		-webkit-box-shadow:inset 0 0 60px rgba(0,0,0,0.2);
	}
	
	to { 
		-webkit-box-shadow:none;
	}
}