@import url(animation.css);
/* Note: This is a {LESS} Stylesheet. LESS extends CSS with dynamic behavior such as variables, mixins, operations and functions. Read more at http://lesscss.org/ */
/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/* Note: This is a {LESS} Stylesheet. LESS extends CSS with dynamic behavior such as variables, mixins, operations and functions. Read more at http://lesscss.org/ */
/* -- [ Modular scale based on the Golden Ratio ] --------------------------------------------------------------*/
/* Use this scale for vertical rhythm

Pixels		Ems			% of 13
1,063.974	75.998		8,184.415
751.538		53.681		5,781.062
657.586		46.97		5,058.354
464.486		33.178		3,572.969
406.419		29.03		3,126.300
287.074		20.505		2,208.262
251.186		17.942		1,932.200
177.425		12.673		1,364.808
155.245		11.089		1,194.192
109.657		7.833		843.515
95.949		6.854		738.069
67.773		4.841		521.331
59.301		4.236		456.162
41.887		2.992		322.208
36.651		2.618		281.931
25.888		1.849		199.138
22.652		1.618		174.246
16.000		1.143		123.077
14.000		1			107.692
9.889		0.706		76.069
8.653		0.618		66.562
6.112		0.437		47.015
5.348		0.382		41.138
3.778		0.27		29.062
3.305		0.236		25.423
2.335		0.167		17.962
2.043		0.146		15.715
1.443		0.103		11.100
1.263		0.09		9.715	*/
/* -- [ Include external typefaces ] --------------------------------------------------------------*/
/* -- [ Less Variables ] --------------------------------------------------------------------------*/
/* Links / Main theme colour */
/* Body Copy */
/* Call to action */
/* General information message box background */
/* Success message box background */
/* Error message box background */
/* Typography */
/* 13px equivalent (mobiles use this font size, desktops use that which is specified in layout.less) */
/* The magic number */
/* -- [ Less Mixins ] --------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  /* Only apply the layout if the user is on a desktop / tablet */
  body {
    font-size: 1.5em;
    /* Mobile devices use the font size inherited from mixins.less. Desktops and tablets use this font size. Vertical rhythm is inherited from the modular scale (found in mixins.less); */
  
  }
  /* Let's make a grid */
  .onecol,
  .twocol,
  .threecol,
  .fourcol,
  .fivecol,
  .sixcol,
  .sevencol,
  .eightcol,
  .ninecol,
  .tencol,
  .elevencol {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
  }
  .row {
    overflow: hidden;
    zoom: 1;
  }
  .row[role=content] {
    overflow: visible;
  }
  .row .onecol {
    width: 4.85%;
  }
  .row .twocol {
    width: 13.45%;
  }
  .row .threecol {
    width: 22.05%;
  }
  .row .fourcol {
    width: 30.75%;
  }
  .row .fivecol {
    width: 39.45%;
  }
  .row .sixcol {
    width: 48%;
  }
  .row .sevencol {
    width: 56.75%;
  }
  .row .eightcol {
    width: 65.4%;
  }
  .row .ninecol {
    width: 74.05%;
  }
  .row .tencol {
    width: 82.7%;
  }
  .row .elevencol {
    width: 91.35%;
  }
  .row .twelvecol {
    width: 100%;
    float: left;
  }
  .row .last {
    margin-right: 0;
  }
  .fr {
    float: right;
  }
  .fl {
    float: left;
  }
  /* General Layout */
  html {
    padding: 0 4.326em 4.326em 4.236em;
  }
  body {
    padding: 0;
    background: none;
  }
  .wrapper {
    max-width: 65.998em;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
  }
  .wrapper #content {
    float: left;
  }
  .wrapper #sidebar {
    float: right;
  }
  .wrapper #footer {
    clear: both;
  }
  .wrapper.main-content {
    padding-top: 0;
  }
  /* Float the main content right if the users specifies that layout */.layout-right-content .wrapper #content {
    float: right;
    margin-right: 0;
  }
  .layout-right-content .wrapper #sidebar {
    float: left;
    margin-right: 3.8%;
    clear: none;
  }
  /* Make the content full width if the user specifies that layout */
  .layout-full .wrapper #content {
    float: none;
    width: 100%;
  }
  .layout-full .wrapper .woocommerce_tabs {
    width: auto;
  }
  .layout-full .wrapper .related, .layout-full .wrapper .upsells {
    width: 48%;
  }
  .layout-full .wrapper .related {
    float: left;
  }
  .layout-full .wrapper .upsells {
    float: right;
  }
  .layout-full .wrapper .upsells ul {
    width: 100%;
    float: left;
  }
  .page-template-template-fullwidth-php .wrapper #content {
    float: none;
    width: 100%;
  }
  .page-template-template-fullwidth-php .wrapper #content a.post-edit-link {
    display: block;
    clear: both;
  }
  .col2-set {
    overflow: hidden;
    zoom: 1;
    clear: both;
  }
  .col2-set .col-1 {
    width: 48%;
    float: left;
  }
  .col2-set .col-2 {
    width: 48%;
    float: right;
  }
  /* Titles with adjacent links */
  header.title {
    overflow: hidden;
    zoom: 1;
    margin-top: 1.143em;
  }
  header.title h1,
  header.title h2,
  header.title h3,
  header.title h4,
  header.title h5,
  header.title h6 {
    float: left;
    padding-top: 0;
  }
  header.title a {
    float: right;
  }
  /*--[ Forms ]---------------------------------------------------------------------------------*/
  div.form-row {
    margin-bottom: 1.61803399em;
  }
  .form-row {
    width: 48%;
    float: left;
    /*input[type=checkbox] {
  			float: left;
  		}*/
  
  }
  .form-row label {
    display: block;
  }
  .form-row input[type=checkbox] + label {
    display: inline;
  }
  .form-row.notes, .form-row.message {
    width: 100%;
  }
  .form-row.notes textarea, .form-row.message textarea {
    width: 100%;
  }
  .form-row.submit {
    clear: both;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: left;
  }
  /*--[ Header ]--------------------------------------------------------------------------------*/
  #header {
    /* We need to make the wrapper overflow:visible so that the drop downs will work */
  
    /* The pages navigation which will only appear if configured by the user */
  
    /* The rest of the header */
  
    /* The header widget will only appear if configured */
  
    /* The main navigation */
  
  }
  #header .top {
    background: 0;
    overflow: visible;
    border-bottom: 0;
  }
  #header .wrapper {
    overflow: visible;
    padding-bottom: 0;
  }
  #header ul#top-nav {
    display: block;
  }
  #header nav[role=customer-navigation] {
    background: none;
    padding: 0;
    margin-bottom: 0;
  }
  #header nav[role=customer-navigation] ul {
    list-style: none;
    margin-bottom: 0;
    /* The top level */
  
  }
  #header nav[role=customer-navigation] ul li {
    float: left;
    margin-right: 1.61803399em;
    position: relative;
    width: auto;
    /* Depth 1 */
  
    /* Reveal the dropdown */
  
  }
  #header nav[role=customer-navigation] ul li a {
    display: inline-block;
    padding: 0 0 0.437em 0;
  }
  #header nav[role=customer-navigation] ul li ul.sub-menu {
    width: 17.942em;
    position: absolute;
    left: -1.143em;
    top: 2em;
    display: none;
    z-index: 999;
  }
  #header nav[role=customer-navigation] ul li ul.sub-menu li {
    float: none;
    margin-right: 0;
  }
  #header nav[role=customer-navigation] ul li ul.sub-menu li a {
    display: block;
    float: none;
    padding-bottom: 0 !important;
  }
  #header nav[role=customer-navigation] ul li ul.sub-menu li a:last-child {
    padding-bottom: .618em !important;
  }
  #header nav[role=customer-navigation] ul li:hover ul {
    display: block;
  }
  #header .wrapper {
    clear: both;
  }
  #header .logo {
    font-size: 2.618em;
  }
  #header .logo a {
    position: relative;
    display: block;
  }
  #header .logo a img {
    display: block;
    width: auto;
  }
  #header .searchform {
    margin-top: 2.992em;
    margin-bottom: 0;
  }
  #header .header-widget {
    margin-bottom: 1.61803399em;
    margin-top: 1.61803399em;
  }
  #header nav.main-navigation {
    clear: both;
    margin-bottom: 0;
    padding: 0;
    background: #615656;
    background: -webkit-gradient(linear, left top, left bottom, from(#615656), to(#504545));
    background: -webkit-linear-gradient(#615656, #504545);
    background: -moz-linear-gradient(center top, #615656 0%, #504545 100%);
    background: -moz-gradient(center top, #615656 0%, #504545 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#615656,endColorstr=#504545);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#615656, endColorstr=#504545)";
    /* The mini cart */
  
  }
  #header nav.main-navigation ul {
    margin: 0;
    list-style: none;
    /* The top level */
  
  }
  #header nav.main-navigation ul li {
    float: left;
    position: relative;
    width: auto;
    padding: 0;
    border: 0;
    border-right: 1px solid #3f3434;
    /* Remove some handheld styling */
  
    /* End removals */
  
    /* Depth 1 */
  
    /* Reveal Depth 1 */
  
  }
  #header nav.main-navigation ul li:first-child a {
    -webkit-border-top-left-radius: 0.27em;
    -webkit-border-bottom-left-radius: 0.27em;
    -moz-border-radius-topleft: 0.27em;
    -moz-border-radius-bottomleft: 0.27em;
    border-top-left-radius: 0.27em;
    border-bottom-left-radius: 0.27em;
  }
  #header nav.main-navigation ul li:nth-child(2n) {
    float: left;
  }
  #header nav.main-navigation ul li a {
    display: inline-block;
    padding: 0.618em 1em;
    border: 0;
  }
  #header nav.main-navigation ul li ul.sub-menu, #header nav.main-navigation ul li ul.cart_list {
    position: absolute;
    left: 0;
    top: 2.8em;
    width: 17.942em;
    display: none;
    background: #3f3434;
    border: 0;
    z-index: 999;
    padding: 0;
    margin: 0;
    -webkit-border-bottom-left-radius: 0.27em;
    -webkit-border-bottom-right-radius: 0.27em;
    -moz-border-radius-bottomleft: 0.27em;
    -moz-border-radius-bottomright: 0.27em;
    border-bottom-left-radius: 0.27em;
    border-bottom-right-radius: 0.27em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  }
  #header nav.main-navigation ul li ul.sub-menu li, #header nav.main-navigation ul li ul.cart_list li {
    float: none;
    margin-right: 0;
    padding: 0;
    border: 0;
  }
  #header nav.main-navigation ul li ul.sub-menu li a, #header nav.main-navigation ul li ul.cart_list li a {
    border-right: 0;
    display: block;
    padding-left: 1em;
  }
  #header nav.main-navigation ul li ul.sub-menu li.empty, #header nav.main-navigation ul li ul.cart_list li.empty {
    padding: 0 1em 0.618em 1em;
  }
  #header nav.main-navigation ul li:hover ul {
    display: block;
  }
  #header nav.main-navigation ul.mini-cart {
    float: right;
  }
  #header nav.main-navigation ul.mini-cart li {
    text-align: right;
    /* The cart contents drop down */
  
  }
  #header nav.main-navigation ul.mini-cart li a {
    border-right: 0;
    border-bottom: 0;
  }
  #header nav.main-navigation ul.mini-cart li:last-child {
    border-bottom: 0;
    border-right: 0;
    border-left: 1px solid #3f3434;
  }
  #header nav.main-navigation ul.mini-cart li:last-child a {
    -webkit-border-top-right-radius: 0.27em;
    -webkit-border-bottom-right-radius: 0.27em;
    -moz-border-radius-topright: 0.27em;
    -moz-border-radius-bottomright: 0.27em;
    border-top-right-radius: 0.27em;
    border-bottom-right-radius: 0.27em;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list {
    left: auto;
    right: 0;
    width: 17.942em;
    border: 1px solid #3f3434;
    border-top-width: .27em;
    background: #504545;
    z-index: 999;
    text-align: left;
    color: #a59a9a;
    text-shadow: 0 1px 0 #1d1212;
    /* The totals */
  
    /* The buttons */
  
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li {
    text-align: left;
    overflow: hidden;
    zoom: 1;
    clear: left;
    padding: 0.618em 1em;
    border: 0;
    border-top: 1px solid #615656;
    font-size: 0.875em;
    background: #483d3d;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li:hover {
    background: #504545;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li:first-child {
    border-top: 0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li img {
    float: right;
    padding: .27em;
    background: #fff;
    -webkit-border-radius: 0.27em;
    -moz-border-radius: 0.27em;
    border-radius: 0.27em;
    margin: 0 0 .27em .27em;
    box-shadow: 0 1px 2px 0 #2e2323;
    -webkit-box-shadow: 0 1px 2px 0 #2e2323;
    -moz-box-shadow: 0 1px 2px 0 #2e2323;
    -o-box-shadow: 0 1px 2px 0 #2e2323;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li a {
    border: 0;
    padding: 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li a:hover {
    background: none;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation dt {
    float: left;
    clear: left;
    font-weight: 700;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.total {
    background: rgba(255, 255, 255, 0.05);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    background: -moz-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05),endColorstr=rgba(0, 0, 0, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05), endColorstr=rgba(0, 0, 0, 0))";
    text-align: center;
    border: 1px solid #615656;
    border-right: 0;
    border-left: 0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons {
    text-align: center;
    padding: 1em 0;
    background: rgba(255, 255, 255, 0.05);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    background: -moz-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05),endColorstr=rgba(0, 0, 0, 0));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05), endColorstr=rgba(0, 0, 0, 0))";
    border-top: 0;
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a {
    display: inline-block;
    padding: .45em 1em;
    -webkit-border-radius: 0.27em;
    -moz-border-radius: 0.27em;
    border-radius: 0.27em;
    background: #8d4c4c;
    background: -webkit-gradient(linear, left top, left bottom, from(#8d4c4c), to(#6b2a2a));
    background: -webkit-linear-gradient(#8d4c4c, #6b2a2a);
    background: -moz-linear-gradient(center top, #8d4c4c 0%, #6b2a2a 100%);
    background: -moz-gradient(center top, #8d4c4c 0%, #6b2a2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8d4c4c,endColorstr=#6b2a2a);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8d4c4c, endColorstr=#6b2a2a)";
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
  }
  #header nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a:hover {
    background: #9e5d5d;
    background: -webkit-gradient(linear, left top, left bottom, from(#9e5d5d), to(#7c3b3b));
    background: -webkit-linear-gradient(#9e5d5d, #7c3b3b);
    background: -moz-linear-gradient(center top, #9e5d5d 0%, #7c3b3b 100%);
    background: -moz-gradient(center top, #9e5d5d 0%, #7c3b3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9e5d5d,endColorstr=#7c3b3b);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9e5d5d, endColorstr=#7c3b3b)";
  }
  /*--[ Homepage ]--------------------------------------------------------------------------------*/
  .homepage .featured-1, .homepage .featured-2 {
    position: relative;
  }
  .homepage .featured-1 .price:before, .homepage .featured-2 .price:before {
    border-width: 1.1em;
    left: -2.1em;
  }
  .homepage .featured-1 .meta, .homepage .featured-2 .meta {
    -webkit-box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.15), inset 0 0 17.942em rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.15), inset 0 0 17.942em rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.15), inset 0 0 17.942em rgba(0, 0, 0, 0.2);
  }
  .homepage .featured-1:hover .meta, .homepage .featured-2:hover .meta {
    -webkit-box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.2), inset 0 0 46.97em rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.2), inset 0 0 46.97em rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 0 0.27em rgba(255, 255, 255, 0.2), inset 0 0 46.97em rgba(0, 0, 0, 0.5);
  }
  .homepage .recent-1 ul.products li, .homepage .recent-2 ul.products li {
    width: 48%;
  }
  /*--[ Content ]--------------------------------------------------------------------------------*/#content .post,
  #content .page,
  #content div.type-product .woocommerce_tabs,
  #content #respond {
    padding: 2.992em;
  }
  /*--[ Sidebar & Widgets ]--------------------------------------------------------------------------------*/
  .widget ul {
    list-style: none;
  }
  /*--[ Products ]--------------------------------------------------------------------------------*/
  ul.products li.product {
    margin-right: 3.8%;
    float: left;
    min-height: 1px;
    width: 30.75%;
    clear: none;
  }
  ul.products li.product img {
    float: none;
    margin-right: 0;
  }
  ul.products li.product .price:before {
    border-width: 1.1em;
    left: -2.1em;
  }
  ul.products li.product.first {
    clear: left;
  }
  ul.products li.product.last {
    margin-right: 0 !important;
  }
  /*--[ Posts ]--------------------------------------------------------------------------------*/
  .post {
    clear: left;
  }
  .post .meta ul {
    margin-left: 0;
    padding: 0;
    list-style: none;
    font-size: 0.75em;
    line-height: 2em;
  }
  /*--[ Single Post ]--------------------------------------------------------------------------------*/
  /* Post Author */
  #post-author {
    overflow: hidden;
    zoom: 1;
  }
  #post-author .profile-image img {
    width: 100%;
    height: auto;
  }
  /*--[ No sidebar ]--------------------------------------------------------------------------------*/
  /*--[ Single Product ]--------------------------------------------------------------------------------*/
  .single-product .product .images {
    width: 39.45%;
    margin-right: 3.8%;
    float: left;
  }
  .single-product .product .summary {
    width: 56.75%;
    float: right;
  }
  .single-product .product .woocommerce_tabs {
    padding: 2.618em;
    padding-top: 1.849em !important;
  }
  .single-product .product .woocommerce_tabs ul.tabs {
    margin: -1.849em -2.992em 1.61803399em -2.992em !important;
    padding: 1.849em 2.992em 0 2.992em;
  }
  .single-product .product .woocommerce_tabs ul.tabs li {
    width: auto;
    margin: 0 .618em 0 0;
  }
  .single-product .product .woocommerce_tabs ul.tabs li:nth-child(2n) {
    float: left;
  }
  .single-product .product .woocommerce_tabs ul.tabs li a {
    padding: 0.436em .618em;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .single-product .product .woocommerce_tabs ul.tabs li.active a {
    border-bottom: 1px solid #fafafa !important;
  }
  .single-product .product .woocommerce_tabs, .single-product .product .related-products {
    clear: both;
  }
  /*--[ Shopping Cart ]--------------------------------------------------------------------------------*/
  table.cart td.actions .coupon {
    text-align: left;
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
  table.cart td.actions .coupon input, table.cart td.actions .coupon .button {
    width: auto;
    float: none;
  }
  table.cart td.actions .button, table.cart td.actions .checkout-button {
    width: auto;
    text-align: center;
    padding: 0.45em 1em;
  }
  table.cart .product-quantity .plus, table.cart .product-quantity .minus {
    display: inline-block;
  }
  .cart-collaterals .cross-sells, .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
    width: 48%;
    float: right;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
  .cart-collaterals .cross-sells ul.products li {
    width: 48%;
    margin-right: 3.8%;
  }
  .cart-collaterals .cross-sells ul.products li:nth-child(2n) {
    margin-right: 0;
  }
  .cart-collaterals .cross-sells ul.products li.last {
    margin-right: 3.8%;
  }
  .cart-collaterals .shipping_calculator {
    clear: both;
  }
  .cart-collaterals .shipping_calculator input {
    width: 100%;
  }
  /*-- [ Checkout ]--------------------------------------------------------------------------------*/
  form.login {
    overflow: hidden;
    zoom: 1;
    margin-bottom: 1.61803399em;
  }
  #customer_details {
    padding: 0 3%;
    clear: both;
    background: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 0.27em;
    -moz-border-radius: 0.27em;
    border-radius: 0.27em;
  }
  #customer_details .col-1, #customer_details .col-2 {
    width: 46%;
  }
  #customer_details .col-1 .form-row:last-child, #customer_details .col-2 .form-row:last-child {
    margin-bottom: 1.61803399em;
  }
  #customer_details .col-1 {
    padding-right: 4%;
    border-right: 1px solid #ddd;
  }
  table.shop_table dl.variation {
    overflow: hidden;
    zoom: 1;
  }
  table.shop_table dl.variation dt {
    float: left;
    clear: left;
    margin-right: .436em;
    font-weight: 700;
  }
  table.shop_table dl.variation dd {
    float: left;
  }
  /*-- [ Comments / Reviews ] ----------------------------------------------------------------------------------*/
  .commentlist li.comment {
    margin-bottom: 1.61803399em;
    list-style: none;
    /* nested comments */
  
  }
  .commentlist li.comment .comment-author {
    margin-bottom: 0;
  }
  .commentlist li.comment .comment-author img {
    width: 50% !important;
  }
  .commentlist li.comment .comment-author cite {
    display: block;
  }
  .commentlist li.comment .comment-body {
    min-height: 42px;
  }
  .commentlist li.comment li.comment {
    margin-left: 17.25%;
    border: 0;
  }
  /* Review specific */
  #reviews ol.commentlist .comment_container img {
    width: 4.85%;
  }
  #reviews ol.commentlist .comment_container .comment-text {
    width: 91.35%;
  }
  /*--[ Footer ]--------------------------------------------------------------------------------*/
  #footer {
    /* The footer widgets */
  
  }
  #footer .latest-tweet p.tweet {
    margin-top: -1em;
  }
  #footer .fourcol, #footer .twocol {
    margin-bottom: 1.61803399em;
  }
  #footer #footer-widgets {
    clear: both;
    font-size: 0.8751em;
  }
  #footer #footer-widgets .widget:last-child {
    margin-bottom: 4.236em;
  }
  #footer #footer-widgets:after {
    display: block;
    content: "";
    clear: both;
  }
  #footer #footer-widgets .block {
    float: left;
    margin-right: 3.8%;
  }
  #footer #footer-widgets .block h3:first-child {
    padding-top: 0;
    font-size: 1.1em;
    margin-left: -1.618em;
    margin-right: -1.618em;
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
  #footer #footer-widgets .block ul.product_list_widget {
    margin-top: -1em;
  }
  #footer #footer-widgets .block ul.product_list_widget.cart_list {
    margin-top: 0;
  }
  #footer #footer-widgets.col-1 .block {
    width: 100%;
    float: none;
  }
  #footer #footer-widgets.col-1 .footer-widget-1 {
    margin-right: 0;
  }
  #footer #footer-widgets.col-2 .block {
    width: 48%;
  }
  #footer #footer-widgets.col-2 .footer-widget-2 {
    margin-right: 0;
  }
  #footer #footer-widgets.col-3 .block {
    width: 30.75%;
  }
  #footer #footer-widgets.col-3 .footer-widget-3 {
    margin-right: 0;
  }
  #footer #footer-widgets.col-4 .block {
    width: 22.05%;
  }
  #footer #footer-widgets.col-4 .footer-widget-4 {
    margin-right: 0;
  }
  #footer .basement {
    clear: both;
    overflow: hidden;
    zoom: 1;
  }
  #footer .subscribe label {
    display: none;
  }
  #footer .subscribe input {
    float: left;
  }
  #footer .subscribe .button, #footer .subscribe input[type=submit] {
    background: #af6e6e;
    background: -webkit-gradient(linear, left top, left bottom, from(#af6e6e), to(#9e5d5d));
    background: -webkit-linear-gradient(#af6e6e, #9e5d5d);
    background: -moz-linear-gradient(center top, #af6e6e 0%, #9e5d5d 100%);
    background: -moz-gradient(center top, #af6e6e 0%, #9e5d5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#af6e6e,endColorstr=#9e5d5d);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#af6e6e, endColorstr=#9e5d5d)";
    color: #726767;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    border-bottom: none;
  }
  #footer .subscribe .button:hover, #footer .subscribe input[type=submit]:hover {
    background: #c07f7f;
    background: -webkit-gradient(linear, left top, left bottom, from(#c07f7f), to(#9e5d5d));
    background: -webkit-linear-gradient(#c07f7f, #9e5d5d);
    background: -moz-linear-gradient(center top, #c07f7f 0%, #9e5d5d 100%);
    background: -moz-gradient(center top, #c07f7f 0%, #9e5d5d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c07f7f,endColorstr=#9e5d5d);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c07f7f, endColorstr=#9e5d5d)";
  }
  #footer .subscribe input.email {
    border: 1px solid #6b2a2a;
    padding: .355em;
  }
  #footer .promotion {
    text-align: right;
  }
}
/* Specifically target the iPad landscape and 1024 x 768 resolutions */
@media only screen and (min-width: 991px) and (max-width: 1024px) {
  body {
    font-size: 1.4em;
  }
  #content .post,
  #content .page,
  #content div.type-product .woocommerce_tabs,
  #content #respond {
    padding: 1.849em;
  }
  ul.products .price:before, .featured-1 .price:before, .featured-2 .price:before {
    border-width: 1em !important;
    left: -2em !important;
  }
  .homepage .featured-1 .meta, .homepage .featured-2 .meta {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* Specifically target the iPad portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 1.4em;
  }
  #content .post,
  #content .page,
  #content div.type-product .woocommerce_tabs,
  #content #respond {
    padding: 1.849em;
  }
  ul.products .price:before, .featured-1 .price:before, .featured-2 .price:before {
    border-width: 1em !important;
    left: -2em !important;
  }
  .homepage .featured-1 .meta, .homepage .featured-2 .meta {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
/* Specifically for iPhone portrait */
@media only screen and (min-width: 319px) and (max-width: 320px) {
  
}
/* Specifically for iPhone landscape */
@media only screen and (min-width: 321px) and (max-width: 481px) {
  
}
.ie7, .ie8 {
  /* The main navigation */

}
.ie7 ul.products li.product, .ie8 ul.products li.product {
  width: 30.75%;
  clear: none;
  margin-right: 3.8%;
}
.ie7 ul.products li.product img, .ie8 ul.products li.product img {
  float: none;
  margin-right: 0;
}
.ie7 ul.products li.product .price:before, .ie8 ul.products li.product .price:before {
  border-width: 1.1em;
  left: -2.1em;
}
.ie7 ul.products li.product.first, .ie8 ul.products li.product.first {
  clear: left;
}
.ie7 ul.products li.product.last, .ie8 ul.products li.product.last {
  margin-right: 0 !important;
}
.ie7 nav.main-navigation, .ie8 nav.main-navigation {
  clear: both;
  margin-bottom: 0;
  padding: 0;
  background: #615656;
  background: -webkit-gradient(linear, left top, left bottom, from(#615656), to(#504545));
  background: -webkit-linear-gradient(#615656, #504545);
  background: -moz-linear-gradient(center top, #615656 0%, #504545 100%);
  background: -moz-gradient(center top, #615656 0%, #504545 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#615656,endColorstr=#504545);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#615656, endColorstr=#504545)";
  /* The mini cart */

}
.ie7 nav.main-navigation ul, .ie8 nav.main-navigation ul {
  margin: 0;
  list-style: none;
  /* The top level */

}
.ie7 nav.main-navigation ul li, .ie8 nav.main-navigation ul li {
  float: left;
  position: relative;
  width: auto;
  padding: 0;
  border: 0;
  border-right: 1px solid #3f3434;
  /* Remove some handheld styling */

  /* End removals */

  /* Depth 1 */

  /* Reveal Depth 1 */

}
.ie7 nav.main-navigation ul li:first-child a, .ie8 nav.main-navigation ul li:first-child a {
  -webkit-border-top-left-radius: 0.27em;
  -webkit-border-bottom-left-radius: 0.27em;
  -moz-border-radius-topleft: 0.27em;
  -moz-border-radius-bottomleft: 0.27em;
  border-top-left-radius: 0.27em;
  border-bottom-left-radius: 0.27em;
}
.ie7 nav.main-navigation ul li:nth-child(2n), .ie8 nav.main-navigation ul li:nth-child(2n) {
  float: left;
}
.ie7 nav.main-navigation ul li a, .ie8 nav.main-navigation ul li a {
  display: inline-block;
  padding: 0.618em 1em;
  border: 0;
}
.ie7 nav.main-navigation ul li ul.sub-menu,
.ie8 nav.main-navigation ul li ul.sub-menu,
.ie7 nav.main-navigation ul li ul.cart_list,
.ie8 nav.main-navigation ul li ul.cart_list {
  position: absolute;
  left: 0;
  top: 2.8em;
  width: 17.942em;
  display: none;
  background: #3f3434;
  border: 0;
  z-index: 999;
  padding: 0;
  margin: 0;
  -webkit-border-bottom-left-radius: 0.27em;
  -webkit-border-bottom-right-radius: 0.27em;
  -moz-border-radius-bottomleft: 0.27em;
  -moz-border-radius-bottomright: 0.27em;
  border-bottom-left-radius: 0.27em;
  border-bottom-right-radius: 0.27em;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}
.ie7 nav.main-navigation ul li ul.sub-menu li,
.ie8 nav.main-navigation ul li ul.sub-menu li,
.ie7 nav.main-navigation ul li ul.cart_list li,
.ie8 nav.main-navigation ul li ul.cart_list li {
  float: none;
  margin-right: 0;
  padding: 0;
  border: 0;
}
.ie7 nav.main-navigation ul li ul.sub-menu li a,
.ie8 nav.main-navigation ul li ul.sub-menu li a,
.ie7 nav.main-navigation ul li ul.cart_list li a,
.ie8 nav.main-navigation ul li ul.cart_list li a {
  border-right: 0;
  display: block;
  padding-left: 1em;
}
.ie7 nav.main-navigation ul li ul.sub-menu li.empty,
.ie8 nav.main-navigation ul li ul.sub-menu li.empty,
.ie7 nav.main-navigation ul li ul.cart_list li.empty,
.ie8 nav.main-navigation ul li ul.cart_list li.empty {
  padding: 0 1em 0.618em 1em;
}
.ie7 nav.main-navigation ul li:hover ul, .ie8 nav.main-navigation ul li:hover ul {
  display: block;
}
.ie7 nav.main-navigation ul.mini-cart, .ie8 nav.main-navigation ul.mini-cart {
  float: right;
}
.ie7 nav.main-navigation ul.mini-cart li, .ie8 nav.main-navigation ul.mini-cart li {
  text-align: right;
  /* The cart contents drop down */

}
.ie7 nav.main-navigation ul.mini-cart li a, .ie8 nav.main-navigation ul.mini-cart li a {
  border-right: 0;
  border-bottom: 0;
}
.ie7 nav.main-navigation ul.mini-cart li:last-child, .ie8 nav.main-navigation ul.mini-cart li:last-child {
  border-bottom: 0;
  border-right: 0;
  border-left: 1px solid #3f3434;
}
.ie7 nav.main-navigation ul.mini-cart li:last-child a, .ie8 nav.main-navigation ul.mini-cart li:last-child a {
  -webkit-border-top-right-radius: 0.27em;
  -webkit-border-bottom-right-radius: 0.27em;
  -moz-border-radius-topright: 0.27em;
  -moz-border-radius-bottomright: 0.27em;
  border-top-right-radius: 0.27em;
  border-bottom-right-radius: 0.27em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list {
  left: auto;
  right: 0;
  width: 17.942em;
  border: 1px solid #3f3434;
  border-top-width: .27em;
  background: #504545;
  z-index: 999;
  text-align: left;
  color: #a59a9a;
  text-shadow: 0 1px 0 #1d1212;
  /* The totals */

  /* The buttons */

}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li {
  text-align: left;
  overflow: hidden;
  zoom: 1;
  clear: left;
  padding: 0.618em 1em;
  border: 0;
  border-top: 1px solid #615656;
  font-size: 0.875em;
  background: #483d3d;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li:hover, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li:hover {
  background: #504545;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li:first-child, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li:first-child {
  border-top: 0;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li img, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li img {
  float: right;
  padding: .27em;
  background: #fff;
  -webkit-border-radius: 0.27em;
  -moz-border-radius: 0.27em;
  border-radius: 0.27em;
  margin: 0 0 .27em .27em;
  box-shadow: 0 1px 2px 0 #2e2323;
  -webkit-box-shadow: 0 1px 2px 0 #2e2323;
  -moz-box-shadow: 0 1px 2px 0 #2e2323;
  -o-box-shadow: 0 1px 2px 0 #2e2323;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li a, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li a {
  border: 0;
  padding: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li a:hover, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li a:hover {
  background: none;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 0;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation dt, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li dl.variation dt {
  float: left;
  clear: left;
  font-weight: 700;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li.total, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li.total {
  background: rgba(255, 255, 255, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05),endColorstr=rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05), endColorstr=rgba(0, 0, 0, 0))";
  text-align: center;
  border: 1px solid #615656;
  border-right: 0;
  border-left: 0;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons {
  text-align: center;
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.05);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-gradient(center top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05),endColorstr=rgba(0, 0, 0, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255, 255, 255, 0.05), endColorstr=rgba(0, 0, 0, 0))";
  border-top: 0;
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a {
  display: inline-block;
  padding: .45em 1em;
  -webkit-border-radius: 0.27em;
  -moz-border-radius: 0.27em;
  border-radius: 0.27em;
  background: #8d4c4c;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4c4c), to(#6b2a2a));
  background: -webkit-linear-gradient(#8d4c4c, #6b2a2a);
  background: -moz-linear-gradient(center top, #8d4c4c 0%, #6b2a2a 100%);
  background: -moz-gradient(center top, #8d4c4c 0%, #6b2a2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8d4c4c,endColorstr=#6b2a2a);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8d4c4c, endColorstr=#6b2a2a)";
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2), 0 0 2px rgba(0, 0, 0, 0.7), inset 0 0 0.4236em rgba(255, 255, 255, 0.3);
}
.ie7 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a:hover, .ie8 nav.main-navigation ul.mini-cart li ul.cart_list li.buttons a:hover {
  background: #9e5d5d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9e5d5d), to(#7c3b3b));
  background: -webkit-linear-gradient(#9e5d5d, #7c3b3b);
  background: -moz-linear-gradient(center top, #9e5d5d 0%, #7c3b3b 100%);
  background: -moz-gradient(center top, #9e5d5d 0%, #7c3b3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9e5d5d,endColorstr=#7c3b3b);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#9e5d5d, endColorstr=#7c3b3b)";
}
.ie7 #footer-widgets .block, .ie8 #footer-widgets .block {
  float: left;
  margin-right: 3.8%;
}
.ie7 #footer-widgets.col-1 .block, .ie8 #footer-widgets.col-1 .block {
  width: 100%;
  float: none;
}
.ie7 #footer-widgets.col-1 .footer-widget-1, .ie8 #footer-widgets.col-1 .footer-widget-1 {
  margin-right: 0;
}
.ie7 #footer-widgets.col-2 .block, .ie8 #footer-widgets.col-2 .block {
  width: 48%;
}
.ie7 #footer-widgets.col-2 .footer-widget-2, .ie8 #footer-widgets.col-2 .footer-widget-2 {
  margin-right: 0;
}
.ie7 #footer-widgets.col-3 .block, .ie8 #footer-widgets.col-3 .block {
  width: 30.75%;
}
.ie7 #footer-widgets.col-3 .footer-widget-3, .ie8 #footer-widgets.col-3 .footer-widget-3 {
  margin-right: 0;
}
.ie7 #footer-widgets.col-4 .block, .ie8 #footer-widgets.col-4 .block {
  width: 22.05%;
}
.ie7 #footer-widgets.col-4 .footer-widget-4, .ie8 #footer-widgets.col-4 .footer-widget-4 {
  margin-right: 0;
}
