/* Note: This is a {LESS} Stylesheet. LESS extends CSS with dynamic behavior such as variables, mixins, operations and functions. Read more at http://lesscss.org/ */

/* -- [ Modular scale based on the Golden Ratio ] --------------------------------------------------------------*/

/* Use this scale for vertical rhythm

Pixels		Ems			% of 13
1,063.974	75.998		8,184.415
751.538		53.681		5,781.062
657.586		46.97		5,058.354
464.486		33.178		3,572.969
406.419		29.03		3,126.300
287.074		20.505		2,208.262
251.186		17.942		1,932.200
177.425		12.673		1,364.808
155.245		11.089		1,194.192
109.657		7.833		843.515
95.949		6.854		738.069
67.773		4.841		521.331
59.301		4.236		456.162
41.887		2.992		322.208
36.651		2.618		281.931
25.888		1.849		199.138
22.652		1.618		174.246
16.000		1.143		123.077
14.000		1			107.692
9.889		0.706		76.069
8.653		0.618		66.562
6.112		0.437		47.015
5.348		0.382		41.138
3.778		0.27		29.062
3.305		0.236		25.423
2.335		0.167		17.962
2.043		0.146		15.715
1.443		0.103		11.100
1.263		0.09		9.715	*/

/* -- [ Include external typefaces ] --------------------------------------------------------------*/

// None yet

/* -- [ Less Variables ] --------------------------------------------------------------------------*/

@color1: #8d4c4c; /* Links / Main theme colour */
@color2: #726767; /* Body Copy */
@color3: #458045; /* Call to action */
@info: #cea638; /* General information message box background */
@success: #619926; /* Success message box background */
@error: #BA4A3B; /* Error message box background */

@sans: 'Cabin', sans-serif;
@serif: Georgia, serif; 
@handwriting: 'Gloria Hallelujah', cursive;

/* Typography */

@fontsize: 1.3em;                  /* 13px equivalent (mobiles use this font size, desktops use that which is specified in layout.less) */
@goldenratio: 1.61803399em;		   /* The magic number */
@verticalrhythm: @goldenratio;

/* -- [ Less Mixins ] --------------------------------------------------------------------------*/


.hide() 
{
	display: none;
}

.clearfix() 
{
	overflow: hidden;
	zoom:1;
}  

.clear() {
	clear: both;
}

.border_radius(@radius:10px)
{
    -webkit-border-radius:@radius;
    -moz-border-radius:@radius;
    border-radius:@radius;
}

.border_radius_right(@radius:10px)
{
    -webkit-border-top-right-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-topright: @radius;
    -moz-border-radius-bottomright: @radius;
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.border_radius_left(@radius:10px)
{
    -webkit-border-top-left-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border_radius_bottom(@radius:10px)
{
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-bottom-right-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    -moz-border-radius-bottomright: @radius;
    border-bottom-left-radius: @radius;
    border-bottom-right-radius: @radius;
}

.border_radius_top(@radius:10px)
{
    -webkit-border-top-left-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-topleft: @radius;
    -moz-border-radius-topright: @radius;
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888)
{
    box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -webkit-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -moz-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -o-box-shadow:@shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}

.inset_box_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_in:3px, @shadow_color:#888)
{
    box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -webkit-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -moz-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
    -o-box-shadow:inset @shadow_x @shadow_y @shadow_rad @shadow_in @shadow_color;
}
 
.text_shadow(@shadow_x:3px, @shadow_y:3px, @shadow_rad:3px, @shadow_color:#fff)
{
    text-shadow:@shadow_x @shadow_y @shadow_rad @shadow_color;
}

.vertical_gradient(@from: #000, @to: #FFF) {
	background: @from;
    background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
    background: -webkit-linear-gradient(@from, @to);
    background: -moz-linear-gradient(center top, @from 0%, @to 100%);
    background: -moz-gradient(center top, @from 0%, @to 100%);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @from, @to));
	-ms-filter: %("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d, endColorstr=%d)", @from, @to);
}

.transition(@selector:all, @animation:ease-in-out, @duration:.2s) {
    -webkit-transition:@selector @animation @duration;
    -moz-transition:@selector @animation @duration;
    -o-transition:@selector @animation @duration;
    transition:@selector @animation @duration;
}
 
.opacity(@opacity:0.75) {
    filter:~"alpha(opacity=@opacity * 100)";
    -moz-opacity:@opacity;
    -khtml-opacity: @opacity;
    opacity: @opacity;
}

.rotate(@degree:1deg) {
	-webkit-transform:rotate(@degree);
	-moz-transform:rotate(@degree);
}

.radial_gradient(@from: #000, @to: #FFF) {
	background: @from;
    background: -webkit-gradient(radial, 50% 10%, 0, 50% 10%, 1000, from(@from), to(@to));
    background: -moz-radial-gradient(center top, @from 0%, @to 100%);
}

.borderbox () {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}