/* 
CUSTOM STYLESHEET
-----------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

/*fix rss new listing widget*/
.rss_nl {
  margin-left:0;
}

/*fix tag cloud*/

.widget ul#popular_tags li {
  background-image:none;
  padding:0;
}

/*fix breadcrumb*/
.breadcrumb .trail-end {
  /*margin:0;*/
  /*padding:0;*/
}

.breadcrumb .trail-end a {
  /*float:none;*/
  margin:0;
  padding:0;
}

/*fix widget*/

.widget_shopping_cart h3 {
  background-image:none;
}

/*form*/

form table, form tr, form td {
  border:none;
}
form td {
  /*padding:2px 0px;*/
}

.required {
  color:#555;
}

.select {
  -moz-box-sizing: border-box;
  -moz-transition: all 0.2s ease-in-out 0s;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #C7BCBC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
  color: #726767;
  font-family: 'Cabin',sans-serif;
  font-size: 1em;
  line-height: 1.61803em;
  outline: medium none;
  padding: 0.437em;
}

.inputText {
  -moz-box-sizing: border-box;
  -moz-transition: all 0.2s ease-in-out 0s;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #C7BCBC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
  color: #726767;
  font-family: 'Cabin',sans-serif;
  font-size: 1em;
  line-height: 1.61803em;
  outline: medium none;
  padding: 0.437em;  
}

/*fix spacing in rows*/
.row_spacing {
  margin-bottom:30px;
}

/*fix category list*/
.category_list, .category_list ul {
  list-style:none;
}

/*fix h3 padding is too wide*/
h3 {
  padding:0;
}

/*fix login page*/
.inputLogin {
  -moz-box-sizing: border-box;
  -moz-transition: all 0.2s ease-in-out 0s;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #C7BCBC;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.1) inset;
  color: #726767;
  font-family: 'Cabin',sans-serif;
  font-size: 1em;
  line-height: 1.61803em;
  outline: medium none;
  padding: 0.437em; 
  width:200px;
}